<div class="from-flex">
  <div class="form">
    <div class="form-div">
      <%= simple_form_for [@prayer, @comment] do |f| %>
        <div class="form-info">
          <%= f.input :description, label: "Add more details to your pray", input_html: { maxlength: 100} %>
        </div>
        <div class="form-info">
          <%= f.association :god, label: "Select a god to help your prayer!", collection: @gods, include_blank: false %>
        </div>
        <div class="form-button">
          <%= f.submit "new god", class: 'button-all' %>
        </div>
      <% end %>
    </div>
  </div>
</div>